* {
  margin: 0;
  box-sizing: border-box;
}
div#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #10b470;
  margin-bottom: 0.2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
div.container {
  max-width: 650px;
  min-width: 300px;
  border: 3px solid grey;
  padding: 2rem 1rem;
  background-color: #29282e;
  border-radius: 0.3rem;
  border-radius: 1rem;
}
pre {
  display: block;
  position: relative;
  top: 0.5rem;
  height: 2.5rem;
  color: #97c389;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  background-color: #1b2b34;
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: 2px solid #324149;
  margin-bottom: 1rem;
}
input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
p {
  font-size: 0.8rem;
  text-align: right;
}